<li class="item">
    <p class="id"><%=user._id %></p>
    <p class="title"><%=user.firstName %> <%=user.lastName %></p>
    <p class="gender">gender: <%=user.gender %></p>
    <p class="gender">Age: <%=user.age %></p>
    <a href="/view/<%=user._id %>" class="btn">View</a>
</li>
